{% extends 'hilal/base.html' %}
{% load static %}
{% block title %}About | Al-Hilal{% endblock %}
{% block content %}
<h2>Why is the sighting of the crescent moon important in Islam?</h2>
<p>The sighting of the crescent moon is important in Islam because it marks the beginning of a new lunar month in the Islamic calendar. This is particularly significant for determining the start of important Islamic months such as Ramadan, the month of fasting, and Shawwal, which begins with the celebration of Eid al-Fitr. The sighting of the crescent moon is also used to determine the timing of other religious observances and events in the Islamic calendar.</p>
<div style="max-width: 700px; margin: 1.5rem auto 0;">
    <img src="{% static 'Image1.png' %}" alt="Moon Phases Diagram">
</div>
{% endblock %}